.DS_Store
Expandable/.DS_Store
Expandable.xcodeproj/project.xcworkspace/xcuserdata/mpantiru.xcuserdatad/UserInterfaceState.xcuserstate
Expandable.xcodeproj/xcuserdata/mpantiru.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Expandable.xcodeproj/xcuserdata/mpantiru.xcuserdatad/xcschemes/xcschememanagement.plist
